/*GOOGLE FONTS HELPER*/
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v8-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
    }
  /* inter-500 - latin */
    @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v8-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v8-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v8-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
    }
  /* inter-600 - latin */
    @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v8-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v8-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v8-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
    }
  /* inter-700 - latin */
    @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v8-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v8-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
    }
/*GLOBAL STYLES*/
*,
*::after,*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
height:100%;
}
body{
    font-family: 'Inter';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    background-color: #e7e7e7;
    color:var(--text-color);
}
img{
/* width: 100%; */
height: auto;
}
:root{
    --text-color:#000;
    --btn-color:#655af2;
    --footer-color:#4dc490;
    --placeholder-color:#555;
    --red-color:#f03535;
    --white-color:#fff;

}
/*.container{
    width:100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*MAIN SECTION STYLE*/

.site-main {
    width: 100%;
    max-width:1152px;
    flex-grow:1;
    display: flex;
    align-items:stretch;
    margin-left: auto;
    margin-right: auto;
}
.hero-left {
    display: flex;
    flex-direction: column;
    --text-color:#fff;
    width: 100%;
    max-width:570px;
    height:640px;
    border-radius: 20px;
    
    color:var(--text-color);
    margin-right: 12px;
}
.hero-left__top {
    flex-grow: 1;
    padding:55px 60px;
    background-color: #222;
    background-image: url(../images/hero-bg.jpg);
    border-radius: 20px 20px 0 0 ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-left__subtitle {
    padding:5px 15px;
    border-radius:41px;
    opacity:0.8;
    border: 1px solid #fff;
    display:inline-block;
    margin-bottom: 65px;
}
.hero-left__heading {
    width: 389px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.hero-left__text {
    width: 347px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.hero-left__bottom {
    height:80px;
    border-radius:0px 0px 20px 20px;
    text-align:center;
    padding:29px 0;
    background-color:var(--footer-color);
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
}

/*INTR SECTION STYLES*/
.intro-form {
}
.intro-right__heading {
}
.intro-right__inputs {
}
.hero-rigth__input {
}
.intro-right__button {
}
.intro-right__text-bottom {
}











/*font-family: 'Rubik', sans-serif;*/